<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>

		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogin') %>
		   <% } else { %>
			<%- include('./partials/header') %>
		  <% } %>

			<!-- Novedades -->
			<main class="container main-container">

				<form class="registerForm" action="/users/login" method="post">
					<div class="title">Inicia Sesi칩n</div>


					<div class="boxForm">

						<!-- Email Input -->
						<div>
							<label for="email" class="form-label">Email</label>
							<input id="email" class="form-input" type="email" placeholder="Email" name="email" />
						</div>

						<!-- Password Input -->
						<div>
							<label for="password" class="form-label">Contrase침a</label>
							<input id="password" class="form-input" type="password" placeholder="Contrase침a"
								name="password" />
						</div>
						
						<div class="recordarme">
							<input id="recordarme" type="checkbox" name="recordarme" value="true" />
							<label for="recordarme">Recordarme</label>
						</div>
					</div>

					<button type="submit" class="submit">Iniciar sesi칩n</button>

				</form>
			</main>
			<%- include('./partials/footer') %>
	</body>

</html>