<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head')  %>
<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class='form' action="/products/add" method="POST"> <!--ver si esta bien el action-->
				<div class="input-imagen"> 
					<input id="imagen" class="input" type="text" name="imagen" placeholder="Ruta de imagen" required/>
				</div>
		
				<div class="input-nombre">
				<input id="nombre" class="input" type="text" name="nombre" placeholder="Nombre" required/>
			    </div>
				
				<div class="input-descripcion">
				<input id="descripcion" class="input" type="text" name="descripcion" placeholder="Descripcion" required/>
				</div>

				<button type="text" class="sumbit">Agregar Producto</button>
			</form>


				
				
				<%- include('./partials/footer')  %>
</body>

</html>